/* Estilo de fundo para a página de história do Luffy */
body.luffy {
    background-image: url('/img/luffy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* Estilo de fundo para a página de história do Zoro */
  body.zoro {
    background-image: url('/img/zoro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* Estilo de fundo para a página de história da Nami */
  body.nami {
    background-image: url('/img/nami.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  